html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}
.appLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.window {
    width: 520px;
    height: 420px;
    background: hsl(202, 77%, 90%);
    border-radius: 2px;
    box-shadow: 8px 8px 0 hsl(219, 40%, 62%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.windowBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: hsl(201, 56%, 78%);
    padding: 6px 8px;
}
.leftIcons {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}
.iconBtn {
    all: unset;
    width: 35px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(219, 40%, 62%);
}
.iconBtn svg {
    font-size: 18px;
}
.urlBox {
    flex: 1;
    margin: 0 8px;
    background: hsl(0, 0%, 100%);
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    color: hsl(219, 40%, 62%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.starInside {
    font-size: 14px;
    color: hsl(219, 40%, 62%);
}
.rightIcons {
    display: flex;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;
}
.scroll {
    flex: 1;
    overflow-y: auto;
    background: hsl(0, 0%, 100%);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    text-align: center;
}
.profileCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.content h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: hsl(219, 40%, 62%);
}
.menu {
    display: flex;
    gap: 20px;
}
.menu button {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.iconCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconCircle svg {
    font-size: 18px;
}
.menu span {
    font-size: 13px;
    color: hsl(0, 0%, 34%);
}
.aboutHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
}
.profileSmall {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profileSmall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutScroll {
    padding: 0 20px 20px;
}
.aboutIntro {
    margin-top: 10px;
    font-size: 14px;
    color: hsl(0, 0%, 34%);
}
.aboutText {
    font-size: 13px;
    color: hsl(0, 0%, 34%);
    line-height: 20px;
}
.sectionTitle {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}
.skills span {
    padding: 6px 10px;
    font-size: 13px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsla(0, 0%, 75%, 0.2);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
}
.interests {
    margin-top: 10px;
}
.interestItem {
    margin-top: 10px;
    font-size: 13px;
    color: hsl(0, 0%, 34%);
}
.contactHeader {
    padding: 20px;
    text-align: center;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
}
.title {
    font-size: 16px;
    font-weight: 900;
    color:  hsl(219, 40%, 62%);
}
.subtitle {
    font-size: 13px;
    color: hsl(0, 0%, 34%);
    opacity: 0.8;
    margin-top: 5px;
}
.card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: hsl(202, 77%, 90%);
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 0 hsl(219, 40%, 62%);
    cursor: pointer;
    transition: all 0.2s ease;
}
.card:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 0 hsl(219, 40%, 62%);
}
.card img {
    width: 80px;
    height: 70px;
    object-fit: cover;
}
a.card {
    text-decoration: none;
    color: inherit;
}
.label {
    font-size: 10px;
    font-weight: 900;
    color: hsl(219, 40%, 62%);
}
.value {
    font-size: 14px;
    font-weight: 600;
    color: hsl(0, 0%, 34%);
}
.contactForm {
    padding: 10px;
}
input {
    width: 79%;
    padding: 8px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.contactContent {
    padding: 10px;
}
.sendBtn {
    width: 15%;
    padding: 10px;
    margin-top: 5px;
    background: hsl(219, 40%, 62%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.sendBtn:hover {
    transform: translateY(-2px);
}
.successMsg {
    color: hsl(120, 100%, 25%);
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.navbar {
    width: 100%;
    height: 50px;
    background: hsl(201, 56%, 78%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20 20px;
    gap: 15px;
}
.navBtn {
    width: auto;
    padding: 10px 14px;
    background: none;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.navBtn:hover {
    transform: translateY(-2px);
}
.footer {
    width: 100%;
    text-align: center;
    padding: 6px 10px;
    font-size: 12px;
    color: hsl(0, 0%, 25%);
    background: hsla(201, 56%, 78%, 0.50);
}
@media (max-width: 768px) {
    .window {
        width: min(520px, 95vw);
        height: min(420px, 80vh);
    }
    .container {
        padding: 10px;
    }
    .menu {
        flex-direction: row;
        gap: 15px;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .iconCircle {
        width: 45px;
        height: 45px;
    }
    .navbar {
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px;
    }
    .navBtn {
        font-size: 13px;
        padding: 8px 12px;
    }
    .navLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    .card {
        flex-direction: row;
        align-items: center;
    }
    .card img {
        width: 70px;
        height: 60px;
    }
}
@media (max-width: 1024px) {
    .window {
        width: 90%;
    }
}